.dino-sam

# models
weights/*

# git repo downloaded when running `download_models.py`
GroundingDINO/*

# Linear regression model
regression-model/*

# images data
data/annotations/*
data/images/*
data/images/test/*
data/outputs/*

# pycache
src/__pycache__

# test folders
grounding-dino-test
calibration_test
data
output_images
output
output_images_1.zip

# extra script
check_cuda.py
src/annotate_cal.py
src/annotate_cal2.py
src/calibrator_cal.py
src/utils_cal.py
src/utils_cal2.py